<!DOCTYPE html>
<html>
	<head>
    	<% include ./Layout/header.ejs %>
	</head>

	<body>
	
	<div class="container">
   	<p>Welcome to the Authors Page.</p>
	</div>

		<footer>
            <% include ./Layout/footer.ejs %>
		</footer>
	
	</body>
</html> 
