<!DOCTYPE html>
<html>
	<head>
    	<% include ./Layout/header.ejs %>
	</head>

	<body>
	
	<div class="container">
   	<h2>Welcome to the Books Page.</h2>
        <% for(var i = 0; i < results.length; i++) { %>
		<li><a href="/bookinfo/<%= results[i].id %>"><%= results[i].bookname %></a></li>
        <% } %>
	</div>

		<footer>
            <% include ./Layout/footer.ejs %>
		</footer>
	
	</body>
</html> 
