<!DOCTYPE html>
<html>
	<head>
    	<% include ./Layout/header.ejs %>
	</head>

	<body>
	
	<div class="container">
   	<h2>Welcome to the Books Page.</h2>
		<form action="/get_all_books" method="get">
			Bookname: <input type="text" name="bookname"><br>

			<button type="submit">Submit</button>
		</form>
	</div>

		<footer>
            <% include ./Layout/footer.ejs %>
		</footer>
	
	</body>
</html> 
