<!DOCTYPE html>
<html>
<head>
    <% include ./Layout/header.ejs %>
</head>

<body>

<div class="container">
    <h2><%= bookname %></h2>

</div>

<footer>
    <% include ./Layout/footer.ejs %>
</footer>

</body>
</html>
