<!DOCTYPE html>
	<html>

		<head>
			<% include ./Layout/header.ejs %>
		</head>

	<body>
	
	<div class="container">
   	<h1>Welcome to the Bookworm Storybook Bookstore!!!</h1>
   	
   	<% if(title === "hello") { %>
	  <h1>Welcome to the Bookworm Storybook Bookstore!!!</h1>
   	<% } %>
		<img src="src/books.jpg" alt="Davinchi code" style="width:304px;height:228px;">
	</div>

	<p>Bookworm Storybook Bookstore is New Zealand’s leading independent book shop with stores in the heart of Wellington and Auckland. Both shops hold literary events.

		We specialise in New Zealand and international literature, poetry, history, and nonfiction as well as stocking the best new releases by award winning authors of both fiction and non-fiction in all genres.

		Unity Books offers a special order service for a wide range of in print titles. Order in store, over the phone or online for local, national or international delivery.</p>

	<footer>
        <% include ./Layout/footer.ejs %>
	</footer>
	
	</body>
</html> 
