<!DOCTYPE html>
<html>
	<head>
    	<% include ./Layout/header.ejs %>
	</head>

	<body>
	
	<div class="container">
   	<h2>Welcome to the Login Page</h2>
   		<form action="/userLogin" method="get">
			<h3>Username:</h3>
				<input name="username" type="text" id="username" placeholder="Please enter in your username"><br>
			<h3>Password:</h3>
				<input name="password" type="password" id="password" placeholder="Please enter in your password"><br><br>
				
			<button type="submit">Login</button>
		 </form>
		<a href="/auth/facebook" class="btn btn-info" role="Facebook Login">Facebook Login</a>
	</div>

		<footer>
            <% include ./Layout/footer.ejs %>
		</footer>
	
	</body>
</html> 
