<!DOCTYPE html>
<html>
	<head>
    	<% include ./Layout/header.ejs %>
	</head>

	<body>
	
	<div class="container">
   	<h2>Welcome to the Register Page</h2>
   		<form action="/register" method="post">
   			<h3>First Name:</h3>
				<input name="firstname" type="text" id="firstname" placeholder="Please enter in your first name"><br>
			<h3>Last Name:</h3>
				<input name="lastname" type="text" id="lastname" placeholder="Please enter in your last name"><br>
			<h3>Username:</h3>
				<input name="username" type="text" id="username" placeholder="Please enter in your username"><br>
			<h3>Password:</h3>
				<input name="password" type="password" id="password" placeholder="Please enter in your password"><br><br>

			<button type="submit">Submit</button>
		</form>
	</div>

		<footer>
            <% include ./Layout/footer.ejs %>
		</footer>
	
	</body>
</html> 
