<!DOCTYPE html>
<html>
	<head>
    	<% include ./Layout/header.ejs %>
	</head>

	<body>

	<div class="container">
		<h2>Welcome to the Search Page</h2>
		<% if (results.length) { %>
			<% for(var i = 0; i < results.length; i++) { %>
		<li><a href="/bookinfo/<%= results[i].id %>"><%= results[i].bookname %></a></li>
			<% } %>
		<% } else { %>
			<p>Sorry no results found</p>
		<% } %>
	</div>

		<footer>
            <% include ./Layout/footer.ejs %>
		</footer>
	
	</body>
</html> 
